.animal-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}
/* ont-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
.animal-child {
	overflow-y: scroll;
	font-size: 80px;
	letter-spacing: normal;
	text-align: center;
	display: inline-block;
	font-family: 'Modak', cursive;
	font-weight: 100;
	height: 70vh;
	margin-top: 5vh;
	padding: 30px 10px;
}
.animal-header {
	width: 100%;
	font-size: 80px;
	text-align: center;
	font-family: 'Modak', cursive;
	font-weight: 100;
	padding-top: 10px;
	color: rgb(241, 196, 15);
}
.breadbox-question {
	color: #000;
	font-weight: bolder;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.yes,
.questions,
.no {
	flex: 1;
	border: 10px #3498db solid;

	color: rgba(52, 152, 219, .8);
	z-index: -1;
}
.questions {
	background-color: #2ee671;
	color: rgba(52, 152, 219, .8);
	z-index: -1;
	/* justify-content: center; */

	/* text-shadow: grey 2px 2px 2px; */
}
.no {
	border: 10px rgb(241, 196, 15) solid;
	z-index: -1;
}
.animal-true h1,
.animal-false h1 {
	color: black;
}
.show {
	color: black;
	display: block;
}

.animal-false .alive {
	visibility: visible;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-weight: 400;
}
/* .questions {
	display: flex;
} */
.inside-container {
	/* height: 90%; */
	/* overflow-x: hidden;
	overflow-y: hidden; */
	text-align: center;
	/* overflow-y: scroll; */
}
li {
	list-style-type: none;
	font-size: 24px;
}
ul {
	margin: 0;
	padding: 0;
}
/* .animal-child.questions {
	display: flex;
} */
