.animal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vh;
	width: 90vw;
	margin: auto;

}
/* font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
.animal-header {
	width: 100%;
	font-size: 80px;
	text-align: center;
	font-family: 'Modak', cursive;
	font-weight: 100;
	padding-top: 10px;
	color: rgb(241, 196, 15);
}
.flex-animal {
	padding-top: 2vh;
	margin-top: 5vh;
	display: flex;
	flex: 1;
	height: 70vh;
	text-align: center;
}

.yes,
.question,
.no {
	justify-content: center;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.45;

}
strong {
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 30px;
	font-weight: 300;
	line-height: 5;
	text-align: center;
	justify-content: center;
}

.show-yes {
	visibility: visible;
}

li {
	list-style-type: none;
	font-size: 24px;
	padding: 0em 2.5em ;
}
.flex-animal.question li:nth-child(even) { background: rgb(240, 215, 114); }
ul {
	margin: 0;
	padding: 0 5px;
	list-style-position: inside;
}
.flex-animal.question li {
	color: black;
	font-size: 20px;
	line-height: 1.75;
}
.flex-animal.yes li:nth-child(even) { background:  #60ee94; }
ul {
	margin: 0;
	padding: 0 5px;
	list-style-position: inside;
}
.flex-animal.yes li, .flex-animal.no li{
	color: black;
	font-size: 20px;
	line-height: 1.75;
}
.flex-animal.no li:nth-child(even) { background:  #5ba9dd; }
ul {
	margin: 0;
	padding: 0 5px;
	list-style-position: inside;
}

.yes {
	background-color: #2ee671;
	z-index: -1;
}
.question {
	background-color: rgb(241, 196, 15);
	color: white;
	cursor: pointer;
	/* z-index: -1; */
}
.no {
	background-color: #3498db;
	z-index: -1;
}

.flex-animal.yes span, .flex-animal.no span, h3{
	color: #000;
	font-size: 40px;
	line-height: .9;
	font-family: 'Poppins', sans-serif;
}

h3 {
	color: black;
	font-weight: 300;
	line-height: .9;
	margin-bottom: 0;
}

.flex-animal.question {
	padding-top: 0
}
.flex-instructions.animal-hed span {
	padding-top: 50px;
	font-size: 80px;
}
.flex-instructions.animal-hed   p {
	font-size: 24px;
	text-align: center;
	padding-top: 30px;
}
.flex-animal.no li, .flex-animal.yes li {
	visibility: hidden;
}
