.animal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vh;
	width: 90vw;
	margin: auto;
}
/* ont-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
.animal-header {
	width: 100%;
	font-size: 80px;
	text-align: center;
	font-family: 'Modak', cursive;
	font-weight: 100;
	padding-top: 10px;
	color: rgb(241, 196, 15);
}
.flex-animal {
	margin-top: 5vh;
	display: flex;
	flex: 1;
	height: 70vh;
}

li {
	list-style-type: none;
	font-size: 24px;
}
ul {
	margin: 0;
	padding: 0;
}
.yes {
	background-color: #2ee671;
	color: rgba(52, 152, 219, .8);
	z-index: -1;
}
.question {
	background-color: rgb(241, 196, 15);
	color: white;
	z-index: -1;
	/* justify-content: center; */

	/* text-shadow: grey 2px 2px 2px; */
}
.no {
	background-color: #3498db;
	color: yellowgreen;
	z-index: -1;
}
