.flex-home {
	/* width: 60vw; */
	height: 100vh;
	display: flex;
	border: 10px white solid;
}
.flex-child {
	font-size: 80px;
	text-align: center;
	width: 33.33%;

	/* letter-spacing: .05em; */
	/* font-family: 'Fontdiner Swanky', cursive; */
	/* font-family: 'Leckerli One', cursive; */
	font-family: 'Modak', cursive;
	font-weight: 100;
	line-height: 12em;

	align-items: center;
	justify-content: center;
}
.overlay {
	display: relative;
	height: 100vh;
	/* size: cover; */
	/* width: 100px; */
	background: rgba(0, 0, 0, .2);
	z-index: 1;
}

/* font-family: 'Fontdiner Swanky', cursive; */
/* font-family: 'Leckerli One', cursive; */
/* font-family: 'Modak', cursive; */
/* font-weight: 100; */
/* font-family: 'Princess Sofia', cursive; */
/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Sonsie One', cursive; */
/* } */
/* h3 {
	/* justify-content: center; */
/* }  */

.animal {
	background-color: #2ee671;
	color: rgba(52, 152, 219, .8);
	z-index: -1;
}
.vegetable {
	background-color: rgb(241, 196, 15);
	color: white;
	z-index: -1;

	/* text-shadow: grey 2px 2px 2px; */
}
.mineral {
	background-color: #3498db;
	color: yellowgreen;
	z-index: -1;
}
body {
	padding: 20px;
}
