.flex-home {
	display: flex;
	padding: 1vh;
	width: 90vw;
	margin: auto;
}

.flex-instructions {
	display: flex;
	flex: 1;
	padding: 1rem;
	padding: 0 1rem;
	width: 88.5vw;
	margin: 0 auto;
	margin-top: 5vh;
	border-left: 10px #2ee671 solid;
	border-right: 10px #3498db solid;
	height: 12vh;
	justify-content: center;
}

p {
	font-size: 20px;
}
span {
	font-size: 30px;
	font-family: 'Modak', cursive;
	font-weight: 100;
	letter-spacing: .02em;
	color: rgb(241, 196, 15);
}
.flex-child {
	font-size: 80px;
	display: flex;
	flex: 1;
	font-family: 'Modak', cursive;
	font-weight: 100;
	height: 70vh;
	margin-top: 5vh;
	padding-top: 30vh;
}
.vegetable,
.mineral,
.animal {
	justify-content: center;
}

/* font-family: 'Fontdiner Swanky', cursive; */
/* font-family: 'Leckerli One', cursive; */
/* font-family: 'Modak', cursive; */
/* font-weight: 100; */
/* font-family: 'Princess Sofia', cursive; */
/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Sonsie One', cursive; */
/* } */
/* h3 {
	/* justify-content: center; */
/* }  */

.animal {
	background-color: #2ee671;
	color: rgba(52, 152, 219, .8);
	z-index: -1;
}
.vegetable {
	background-color: rgb(241, 196, 15);
	color: white;
	z-index: -1;
	/* justify-content: center; */

	/* text-shadow: grey 2px 2px 2px; */
}
.mineral {
	background-color: #3498db;
	color: yellowgreen;
	z-index: -1;
}
